<footer class="bg-light text-dark pt-2 fs-5">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">A propos</h5>
                <hr class="mb-4">
                <p>Découvrez qui nous sommes</p>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Contact</h5>
                <hr class="mb-4">
                <p>
                    <li class="fas fa-map-marker-alt"></li> Zone des Tuileries 16400 LA COURONNE
                </p>
                <p>
                    <li class="fas fa-envelope mr-3"></li> jerome.poignat@bbox.fr
                </p>
                <p>
                    <li class="fas fa-phone mr-3"></li> 06 08 32 56 49
                </p>
            </div>

         <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Références</h5>
                <hr class="mb-4">
                <p>Ils nous ont fait confiance</p>
            </div>

         <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Mentions légales</h5>
                <hr class="mb-4">
                <p>Veuillez trouver les mentions légales</p>
            </div>

        <hr class="mb-4">


        <div class="row d-flex justify-content-center">
            <div>
                <p>© 2015 - 2023 TSC 16. Angoulême, Charente, France.</p>
            </div>
        
        </div>

        </div>
    </div>
</footer>