<aside class="col-3 border border-light bg-white p-2">
    <article class="card mb-3">
        <div class="card-header">
            <h4>Catégories<h4>
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_category_index') }}">Liste des catégories</a></p>
            <p><a href="{{ path('admin_category_add') }}">Ajouter une catégorie</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            <h4>Produits</h4>
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_article_index') }}">Liste des articles</a></p>
            <p><a href="{{ path('admin_article_add') }}">Ajouter un article</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            <h4>Mes informations</h4>
        </div>
        <div class="card-body">
            <p><a href="#">Modifier mes informations</a></p>
        </div>
    </article>
</aside>