{% extends 'base.html.twig' %}

{% block title %}Réinitialiser mon mot de passe{% endblock %}

{% block body %}

<section class="container my-5">
    <div class="row">
        <div class ="col">
            <h1>Réinitialiser le mot de passe</h1>
            {{ form_start(requestPassForm) }}
                {{ form_row(requestPassForm.email)}}
                <button type="submit" class="btn btn-primary">Envoyer</button>
            {{ form_end(requestPassForm) }}
        </div>
    </div>
</section>

{% endblock %}
