{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid bg-light text-center en-tête border py-5">
        <h1>Votre Expert en Travaux sur Cordes</h1>
        <p>Découvrez nos spécialités (cordistes, soudure, chaudronnerie, tuyauterie, métallerie, formation...)</p>
        <button class="btn btn-primary">Nos spécialités</button>
</div>

<div class="container p-5">
{% for categorie in category %}
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail">
                    <div class="img-container">
                    <img src="{{ asset('assets/images/soudure.jpg') }}" class="image">
                    <div class="overlay">
                    
                    <a href='{{ path('category_list', {slug: categorie.slug }) }}'>
                        <h3 class="card-title">{{ categorie.name }}</h3>
                    </a>

                    </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
