{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid container-pres text-center py-5">
        <h1 class="text-light">Votre Expert en Travaux sur Cordes</h1>
        <p class="text-light fs-4">Découvrez nos spécialités (cordistes, soudure, chaudronnerie, tuyauterie, métallerie, formation...)</p>
        <button class="btn btn-deco fs-2 mt-4">Nos spécialités</button>
</div>
<div id="carouselExample" class="carousel slide w-75 mx-auto my-5">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ asset('img TSC16/tsc16-chaudronnerie-001-450x450.jpg') }}" class="d-block w-100 rounded" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

"
<div class="container container-custom p-5 my-5 rounded">
  <div class="row">
    <div class="col-md-6">
      <div class="bloc1 text-center">
        <h2 class="fs-1">Notre adresse</h2>
        <i class="fas fa-map-marker-alt fa-lg fa-4x my-3" style="color: #DAAB3A;"></i>
        <p class="fs-4">Zone des Tuileries<br>16400 LA COURONNE</p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="bloc2 text-center">
        <h2 class="fs-1">Nos horraires</h2>
        <i class="far fa-clock fa-lg fa-4x my-3" style="color: #DAAB3A;"></i>
        <p class="fs-4">Lundi - Vendredi<br>08h00 - 12h00<br>13h00 - 17h00</p>
      </div>
    </div>
  </div>
</div>


{% endblock %}