{% extends "base.html.twig"%}

{% block title %}Page administration{% endblock %}

{% block body %}

 <div class="container my-5">
        <div class="row">
            <main class="col-12 border border-light bg-white p-2">
                <h1 class="text-center">Administration</h1>
                {% include "_partials/adminnav.html.twig" %}
            </main>
        </div>
    </div>
{% endblock %}

