{% extends 'base.html.twig' %}

{% block title %}Ajout des catégories {% endblock %}

{% block body %}
<main class="container">
    <section class="row">
        <div class="clo-12">
            <h1 class= "text-center my-5">Ajouter une catégorie</h1>
            {% include 'admin/category/_form.html.twig' %}
        </div>
    </section>
</main>
{% endblock %}