{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}

<h1 class="text-center my-5">Contactez nous !</h1>

<p class="text-center">Contactez-moi pour toutes demandes d'informations et de devis relatives à nos services de travaux sur cordes, tuyauterie, soudure, chaudronnerie, métallerie-serrurerie et formation dans tous ces domaines.</p>

<div class="container">
        {{ form(formulaire) }}
</div>

{% endblock %}
