{% extends 'base.html.twig' %}

{% block title %}Ajout des articles {% endblock %}

{% block body %}
<main class="container">
    <section class="row">
        <div class="clo-12">
            <h1>Ajouter un article</h1>
            {% include 'admin/article/_form.html.twig' %}
        </div>
    </section>
</main>
{% endblock %}